.menu-container {
  position: absolute;
  min-width: 150px;
  z-index: 9999;
  border: 1px solid #f7f0f0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  li {
    cursor: pointer;
    padding: 8px;
    color: #9c9494;
    font-size: 14px;
    &:hover {
      color: rgb(24, 144, 255);
      background-color: #efefef;
    }
  }
}
